@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,700;1,700&display=swap");
@import 'base/variables';
@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/slider';
@import 'blocks/box';
@import 'blocks/modalbox';
@import 'blocks/footer';
body {
    margin: 0 auto;
    box-sizing:border-box;
    background-color: $head;
}
main {
    position: relative;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
