.header {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  width: 100%;
  background-color: $head;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  color: $a;
  &__logo {
    width: 283px;
    height: 83px;
    margin-top: 24px;
    margin-bottom: 23px;
    &_img {
      width: 100%;
    }
  }
  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 5px;
    justify-content: space-between;
    padding-bottom: 21px;
  }
  &__modal_text {
    display: inline-block;
    margin-right: 8px;
  }
  &__modal_icon {
    display: inline-block;
    width: 9px;
    height: 13px;
    background-image: url(../icons/riservata_icon.svg);
    background-position:center;
    background-size: cover;
  }
  &__menu {
    position: relative;
    list-style-type: none;
    &_list {
      margin: 0;
      display: flex;
      list-style: none;
      padding: 0px;
      &_item {
        padding-left: 25px;
        
      }
    }
    a {
      text-decoration: none;
      color: $a;
      &:hover {
        color: #e2d1a6;
      }
      &:active {
        color: red;
      }
    }
  }
  &__menu_link {
    text-decoration: none;
    font-size: 18px;
  }
  &__dropdown {
    position: relative;
    
    &_content {
      box-sizing: border-box;
      display: none;
      position: absolute;
      padding: 30px 9px 8px 9px ;
      width: 149px;
      height: 152px;
      background-color: $head;
      z-index: 1;
      font-size: 16px;
      line-height: 15px;
      text-align: start;
      top: 22px;
      left: 90px;
      &:hover {
        display: block;
      }
    }
    &:hover  {
      +.header__dropdown_content {
        display: block;
      }
      
    }
    &_item {
      border-bottom: 0.8px solid #ffffff;
      padding-left: 5px;
      padding-bottom: 6px;
      padding-top: 6px;
      &:nth-child(3) {
        padding-top: 7px;
      }
      &:last-child {
        padding-top: 7px;
        border-bottom: none;
      }
    }
  }
  &__modal {
     &:hover {
      cursor: pointer;
      color: #e2d1a6;
  }
    &:active {
    color:red;
    } 
  }
}

