.header {
  margin: auto;
<<<<<<< HEAD
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  width: 100%;
  min-height: 130px;
  background-color: $head;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  color: $a;
  &__logo {
    width: 283px;
    height: 83px;
    margin-top: 24px;
    &_img {
      width: 100%;
    }
  }
  
  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 5px;
    justify-content: space-between;
    padding-bottom: 23px;
  }
  
  &__modal_text {
    display: inline-block;
    margin-right: 10px;
  }
  
  &__modal_icon {
    width: 9px;
    height: 13px;
  }
  
  &__menu {
    overflow: hidden;
    font-size: 18px;
    
    float: left;
    &_link {
      text-decoration: none;
      &:active {
        color: #ffffff;
      }
      &:visited {
        color: $a;
      }
      &:hover {
        color: #e2d1a6;
      }
    }
  }

  &__dropdown {
    float: left;
    overflow: hidden;
    &_btn {
      border: none;
      outline: none;
      margin: 0;
      background-color: inherit;
      color: $a;
      &:hover {
        color: #e2d1a6;
      }
    }
  }


}



=======
  width: 1240px;
  height: 130px;
  background-color: $a;
}
>>>>>>> parent of fb80022 (me)
