.modalbox {
    box-sizing:border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    z-index: 2;
    padding-top: 285px;
    background: rgba(255,255,255,0.6);

    &__show {
        display: block;
    }

    &__wrapper {
        box-sizing:border-box;
        position: relative;
        width: 596px;
        height: 361px;
        margin: auto;
        padding-top: 14px;
        border: 0.8px solid #ffffff;
        background-color: $head;
    }
    &__text {
        font-family: 'Playfair Display';
        font-size: 23.7px;
        line-height: 19px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
        &_h {
            margin: 0;
        }
    }
    &__img {
        width: 23px;
        height: 22px;
        position: absolute;
        top: 13px;
        right: 18px;
        background-image: url(/icons/modal_exit.svg);
        background-size: cover;
        &:hover {
            cursor: pointer;
        }
    }

    &__form {
        display: flex;
        padding: 27px 79px 0 76px;
        justify-content: space-between;
        &_h {
            margin: 0;
            font-family: 'Playfair Display';
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
        }
        &_container {
            display: flex;
            flex-direction: column;
            padding-top: 12px;
        }
        &_accedi {
            width: 184px; ;
        }
        &_reg {
            width: 184px;
        }
        &_inputs {
            height: 31px;
            box-sizing:border-box;
            margin-bottom: 9px;
            padding-left: 11px;
            font-family: 'Open Sans';font-size: 16px;line-height: 24px;font-weight: 400;color: #b5b4b4;
            &:first-child {
                margin-bottom: 12px;
            }
            &_accedi {
                height: 31px;
                box-sizing:border-box;
                margin-bottom: 7px;
                padding-left: 11px;
                font-family: 'Open Sans';font-size: 16px;line-height: 24px;font-weight: 400;color: #b5b4b4;
            }
        }

        &_label {
            font-family: 'Open Sans';
            font-size: 10px;
            line-height: 10px;
            font-weight: 400;
            color: #b5b4b4;
            margin-top: 2px;
            margin-bottom: 12px;
            &:hover {
                color:#e2d1a6;
            }
           
        }
        &_btn {
            width: 184px;
            height: 31px;
            background-color: #000000;
            border: 0;
            color: $a;
            font-family: 'Open Sans';
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            margin-top: 7px;
            &:last-child {
                margin-top: 1px;
            }
            &:hover {
                cursor: pointer;
                color: #e2d1a6;
            }


        }
        &_checkbox {
            height: 11px;
            width: 11px;
        }
        &_link {
            font-family: 'Open Sans';
            font-size: 12px;
            line-height: 12px;
            font-weight: 400;
            color: #b5b4b4;
            text-decoration: none;
            margin-top: 12px;
            box-sizing:border-box;
            &:hover {
                color:#e2d1a6;
                text-decoration: underline;
            }
            &:active {
                color: red;
            }
        }
    }
}