.slider {
    width: 100%;
    position: relative;
    height: 86vh;
    margin: auto;
    &__item {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
        }
        &_text {
            position: absolute;
            box-sizing:border-box;
            width: 509px;
            min-height: 138px;
            opacity: 0.85;
            background-color:$a;
            padding: 16px 24px 19px 27px;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            &_h2 {
                font-family: 'Playfair Display';
                font-size: 30px;
                font-weight: 700;
                font-style: italic;
                text-transform: uppercase;
                color: #020202;
            }
            &_p {
                font-family: 'Open Sans';
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
                color: #000000;
                max-width: 450px;
                margin-top: 20px;
            }
        }
    }

    &__dots {
        position: absolute;
        left: 0;
        bottom: 39px;
        text-align: center;
        width: 100%;
        z-index: 1;
        &_item {
            cursor: pointer;
            height: 14px;
            width: 14px;
            margin: 0 10px;
            background-color: $a;
            border-radius: 50%;
            display: inline-block;
            transition: background-color ;
            border: 2px solid black;
            &:hover {
                background-color: #e2d1a6;
            }
        }
    }
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

